<div ng-controller="eventIndexCtrl">
<div class="page-header"><h1>{{events.length}} Event(s)</h1></div>

    <ul ng-repeat="event in events" class="list-unstyled well-lg">
        <li>title - {{event.title}}</li>
        <li>address - {{event.address}}</li>
        <li>date - {{event.date}}</li>
        <li>time - {{event.time}}</li>
        <li class="text-right">
            <a class="btn btn-default" href="#/events/{{event._id}}"><i class="fa fa-arrow-right"></i> Details </a>
        </li>
    </ul>
</div>
