<div ng-controller="userIndexCtrl">
    <div class="page-header">
        <h1><ng-pluralize count="users.length"
            when="{'1': '1 User', 'other': '{} Users'}">
        </ng-pluralize></h1>
    </div>
    <div class="text-right">
        <a class="btn btn-default" ng-href="#/users/new"><i class="fa fa-plus"></i> New User </a>
    </div>

   <ul ng-repeat="user in users | orderBy:'_id'" class="list-unstyled well-lg">
        <li>first name - {{user.firstName}}</li>
        <li>last name - {{user.lastName}}</li>
        <li>email - {{user.email}}</li>
        <li class="text-right">
            <a class="btn btn-default" ng-href="#/users/{{user._id}}"> Details </a>
            <a class="btn btn-info" ng-href="#/users/{{user._id}}/edit"><i class="fa fa-pencil"></i> Edit </a>
            <a class="btn btn-danger" ng-click="deleteUser(user._id)"> Delete </a>
        </li>
    </ul>
</div>
